/********************
* Desktop/tablet view 
********************/

.map-height {
	height: 100vh;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.form {
  padding-top: 15px;
  background-color: #b9cae2;
}

.button-margin {
  margin-right: 20px;
}

/********************
* Mobile view 
********************/

@media screen and (max-width: 765px) {
  .form {
    height: 300px;
  }
  .map-height {
  	position: absolute;
    top: 300px;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}